.tc-menu {
    display: block;
}

.tc-menu-list {
    display: flex;
    padding: 0;
    margin: 2rem 0 0 0;
    align-items: center;

    @media screen and (min-width: 31rem) {
        margin: 0 0 0 2rem;
    }

    &__item {
        list-style: none;
        margin-right: 1rem;
        padding: .5rem;
        color: black;

        &:hover {
            background-color: whitesmoke;
        }

        a {
            text-decoration: none;
            color: inherit;

            &:visited {
                color: inherit;
            }
        }
    }
}